body{
    background-color: lightgray;
}
.contact{
    text-align: center;
}
.learnmore{
    color: beige;
}
.center-graphic{
    margin: auto;
    max-width: 1000px;
}
.description{
    font-style: italic;
}
.footer{
    text-align: center;
    font-family: inherit;
    font-style: italic;
}
.instagram{
    font-weight: bold;
}
.link1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
.fancy{
    font-family: 'Courier New', Courier, monospace
}
.subtext{
    font-family: Courier, monospace;
    font-size: larger;
    font-weight: 200;
}